*.bin
*.param

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependencies
vulkan-sdk
*.tar.xz
**/ncnn
**/libwebp/

# Test artifacts
testdata/output/*
testdata/models/*
!testdata/models/upscayl-standard-4x.*

# Local
build
.cache/
.env
logs/
CMakeUserPresets.json

*.dmg
.DS_Store
